.landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media (max-width: $desktop-width) {
    background-image: url('~assets/mentor-small.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: 5;
  }
}

.landing__container {
  position: relative;
  @include container();
  display: flex;
  flex-grow: 5;
  height: 100%;
}

.landing__layout-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: -1;
}
.grid-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 200px 100px 70px 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media (max-width: $desktop-width) {
    grid-template-rows: 140px 100px 35px min-content 50px repeat(2, 30px) 160px 70px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.man {
  grid-area: 2 / 3 / 6 / 4;
  @media (max-width: $desktop-width) {
    grid-area: 2 / 3 / 10 / 4;
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 390px;
    height: 600px;
    background-image: url('~assets/mentor.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    @media (max-width: 1400px) {
      display: none;
    }
  }
}

.grid-column {
  position: relative;
  width: 100%;
  border-right: $border;
  &:nth-child(4) {
    border-right: none;
  }
}

.landing__title {
  width: 750px;
  grid-area: 2 / 1 / 3 / 4;
  line-height: 87px;
  color: #fff;
  text-transform: uppercase;
  @media (max-width: $desktop-width) {
    grid-area: 2 / 1 / 3 / 3;
    line-height: 33px;
    width: 123%;
  }
}

.landing__subtitle {
  grid-area: 3 / 1 / 4 / 3;
  color: rgba(255, 255, 255, 0.5);
  @include raleway(400);
  font-size: 16px;
  line-height: 24px;
  height: min-content;
  border-left: 1px solid #fff;
  padding-left: 25px;
  @media (max-width: $desktop-width) {
    grid-area: 4 / 1 / 5 / 3;
    width: 80%;
    font-size: 11px;
  }
}

.landing__book-button {
  width: 94%;
  height: 70px;
  background-color: #fff;
  border: 1px solid #fff;
  @include transition(background-color, 0.3s);
  background-image: url('~assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: 98% 88%;

  &:hover {
    background-color: $hover-color;
    border: 1px solid #fff;
  }

  @media (max-width: $desktop-width) {
    width: 170%;
    height: 30px;
    background-image: url('~assets/arrow-small.svg');
  }
}

.landing__free-button {
  @extend .landing__book-button;
  background-color: transparent;
  @include transition(border, 0.3s);
  background-image: url('~assets/arrow-white.svg');
  @media (max-width: $desktop-width) {
    background-image: url('~assets/arrow-small-white.svg');
  }
  &:hover {
    background-color: transparent;
    border: 1px solid $hover-color;
  }
}

.landing__link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 100%;
  height: 100%;
  @include raleway(600);
  color: $color-blue;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  @media (max-width: $desktop-width) {
    font-size: 10px;
  }
  &::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    rotate: 90deg;
    top: 34;
    right: 30px;
    background-color: $color-blue;

    @media (max-width: $desktop-width) {
      width: 30px;
    }
  }
}

.first-link {
  grid-area: 4 / 1 / 5 / 2;
  @media (max-width: $desktop-width) {
    grid-area: 6 / 1 / 7 / 2;
  }
}

.second-link {
  grid-area: 4 / 2 / 5 / 3;
  @media (max-width: $desktop-width) {
    grid-area: 7 / 1 / 8 / 2;
    margin-top: 10px;
  }
}
.link-free {
  color: #fff;
  &::before {
    background-color: #fff;
  }
}

.white-link {
  position: relative;
}

.landing-stats {
  margin-top: 50px;
  height: 100%;
  padding-left: 25px;
  border-left: 1px solid #fff;
  h3 {
    @include montserrat(600);
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    @media (max-width: $desktop-width) {
      font-size: 16px;
    }
  }
  span {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    @include montserrat(400);
    @media (max-width: $desktop-width) {
      font-size: 10px;
    }
  }
}

.tech {
  grid-area: 5 / 1 / 6 / 2;
  @media (max-width: $desktop-width) {
    grid-area: 9 / 1 / 10 / 2;
    align-self: center;
  }
}

.prod {
  grid-area: 5 / 2 / 6 / 3;
  @media (max-width: $desktop-width) {
    grid-area: 9 / 2 / 10 / 3;
    align-self: center;
  }
}
